.connect{
    margin-bottom:50px;

    &__title{
        text-align: center;

        h1{
            font-size: 36px;
            font-weight:500;
        }
    }
    &__links{
        display:grid;
        place-items: center;
        margin-top: 20px;

        div{
            display:flex;
            flex-wrap:wrap;
            justify-content: space-around;
        }

        a{
            &:hover{
                transform:scale(.9);
            }
            &:not(:last-child){
                margin-right: 10px;
            }

            img{
                height:50px;
                transition:150ms ease-in;

                &:hover{
                    transform:scale(.8);
                }
            }
        }
    }
}