.navigation{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 0;
    position:relative;

    &__links{
        display:flex;
        align-items:center;

        &--link{
            margin-right: 30px;
            cursor:pointer;

            @media screen and (max-width: 900px){
                display:none;
            }

            &__item{
                display:flex;
                align-items:center;
                padding:15px 0;
            }
        }

        a{
            &:not(:last-child){
                margin-right: 30px;
            }

            &:hover{
                color:dodgerblue;
            }

            @media screen and (max-width: 900px){
                display:none;
            }
        }
    }

    &__menu{

        @media screen and (min-width:900px){
            display:none;
        }
    }
}

.mobile-navigation-backdrop{
    position: fixed;
    top:0;
    left:0;
    background: rgba(0,0,0,.3);
    z-index:88888;
    height:100%;
    width:100%;
    display:none;

    &.active{
        display:block;

        @media screen and (min-width:900px){
            display:none;
        }
    }

    @media screen and (min-width:900px){
        display:none;
    }
}

// Mobile Navigation Side bar

.mobile-navigation{
    position:fixed;
    top:0;
    left:-350px;
    height:100%;
    width:100%;
    max-width:350px;
    background:#fff;
    z-index:99999;
    transition: 400ms ease-in-out;
    overflow-x:auto;

    &.active{
        left:0;
    }

    @media screen and (min-width:900px){
        display:none;
    }

    &__title{
        display:flex;
        align-items: center;
        padding:20px 10px;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    &__links{
        display:flex;
        flex-direction:column;
        row-gap: 15px;
        padding:10px 20px;

        &--link{
            font-family: var(--secondary-font);
            font-size:18px;
        }

        .mobile-navigation__sublink{
            font-size:17px;
            margin-bottom:5px;
        }
    }

    &__connect{
        margin-top:25px;
        padding:10px 20px;

        h1{
            color:#111315;
            font-size:25px;
            font-weight:500;
            margin-bottom:10px;
        }

        a{
            &:not(:last-child){
                margin-right: 5px;
            }

            img{
                height:40px;
                transition:150ms ease-in;

                &:hover{
                    transform:scale(.8);
                }
            }
        }
    }
}

// Navigation Dropdown

.navigation-dropdown{
    background: #DAF4E9;
    border-radius:6px;
    box-shadow: 0px 4px 4px rgba(218, 218, 218, 0.25);
    position:absolute;
    top:70px;
    display:none;

    div{
        padding-top:12px;
        padding-left:12px;
        padding-right:12px;
        padding-bottom:12px;

        &:not(:last-child){
            border-bottom:1px solid #000;
        }
    }
}

// Dropdown styles

.navigation__links--link__item:hover .navigation-dropdown{
    display:block;
}
.navigation__links--link__item span.material-icons{
    transition:250ms ease-in;
}
.navigation__links--link__item:hover span.material-icons{
    transform:rotate(180deg);
}

// Mobile Navigation Accordion

.mobile-navigation__accordion{
    cursor: pointer;

    &-title{
        display: flex;
        column-gap:5px;
        color:#111315;
        font-weight:500;
        align-items:center;
    }

    &-content{
        transition: 150ms ease-in;
        overflow:hidden;
        height:auto;
        padding-top: 5px;
        padding-right: 25px;

        &:not(.effect){
            display:none;
        }
    }
}
.mobile-navigation-accordion-indicator{
    transition:250ms ease-in;

    &.active{
        transform:rotate(180deg);
    }
}