.buycoin-hero{

    &__title{
        margin-bottom: 25px;

        h1{
            font-family: var(--secondary-font);
            font-weight: 400;
            font-size: 63.8px;
            line-height: 78.11px;

            @media screen and (max-width:900px){
                font-size:29px;
                line-height: 35px;
                word-break: break-word;
            }
        }
    }

    &__subtitle{

        h2{
            font-size:36px;
            color:#111315;
            font-weight:500;
            margin-bottom: 20px;

            @media screen and (max-width:900px){
                font-size:20px;
                word-break: break-word;
            }
        }
        &--contract{
            display:flex;
            align-items:center;

            @media screen and (max-width:900px){
                flex-direction: column;
                row-gap: 10px;
                align-items: flex-start;
            }

            & > div{
                display:flex;
                align-items: center;
                flex-wrap: wrap;


                a{
                    background:#F3F4DA;
                    padding:2px 6px;
                    font-size:18px;
                    margin: 0 4px;
                    word-break: break-all;
                }
            }
        }
    }

    &__summary{
        display:flex;
        column-gap: 25px;
        margin-top:25px;

        &--title{
            margin-right: 5px;
        }
        &--value{
            padding:4px 6px;
            border-radius:4px;

            &-1{
                background:#DAF4E9;
            }

            &-2{
                background: #F1E8FF;
            }
        }
    }
}

.clipboard-toast{
    position:fixed;
    bottom:0;
    left:0;

    @media screen and (max-width:375px){
        width:100%;
    }
}

.clipboard-tooltip{
    padding:20px 20px;
    padding: 8px 24px;
    margin-bottom: 25px;
    margin-left:25px;
    color:#fff;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 35%);
    -webkit-font-smoothing: antialiased;
    font-size: .895rem;
    background-color: #202124;
    border: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-weight: 400;
    left: 0;
    min-height: 52px;
    display:flex;
    align-items:center;
    column-gap:28px;
    animation:move-up 250ms;
    transform:translateY(0);

    @media screen and (max-width:375px){
        width:100%;
        margin-bottom: 0;
        margin-left:0;
        justify-content: space-between;
    }
}

@keyframes move-up{
    from{
        transform:translateY(50px);
    }
}

.clipboard-tooltip-close{
    display:grid;
    place-items:center;
    height:40px;
    width:40px;
    border-radius: 50%;
    transition-duration: .15s;
}
.clipboard-tooltip-close:hover{
    background:rgb(77,77,80);
}
.clipboard-tooltip-close > span{
    font-size:20px;
    color:rgb(187,188,189);
}
.clipboard-tooltip-close:hover > span{
    color:rgb(207, 207, 207);
}
