.buycoin-hero{

    &__title{
        margin-bottom: 25px;

        h1{
            font-family: var(--secondary-font);
            font-weight: 400;
            font-size: 63.8px;
            line-height: 78.11px;

            @media screen and (max-width:900px){
                font-size:29px;
                line-height: 35px;
                word-break: break-word;
            }
        }
    }

    &__subtitle{

        h2{
            font-size:36px;
            color:#111315;
            font-weight:500;
            margin-bottom: 20px;

            @media screen and (max-width:900px){
                font-size:20px;
                word-break: break-word;
            }
        }
        &--contract{
            display:flex;
            align-items:center;

            @media screen and (max-width:900px){
                flex-direction: column;
                row-gap: 10px;
                align-items: flex-start;
            }

            & > div{
                display:flex;
                align-items: center;
                flex-wrap: wrap;


                a{
                    background:#F3F4DA;
                    padding:2px 6px;
                    font-size:18px;
                    margin: 0 4px;
                    word-break: break-all;
                }
            }
        }
    }

    &__summary{
        display:flex;
        column-gap: 25px;
        margin-top:25px;

        &--title{
            margin-right: 5px;
        }
        &--value{
            padding:4px 6px;
            border-radius:4px;

            &-1{
                background:#DAF4E9;
            }

            &-2{
                background: #F1E8FF;
            }
        }
    }
}