.steps{

    &__step{
        margin-bottom: 100px;
        
        &--block{
            width:50%;
            display:flex;
            flex-wrap:wrap;
            column-gap: 10px;
            row-gap: 25px;

            @media screen and (max-width:900px){
                width:100%;
            }

            &.display-right{
                margin-left: auto;

                @media screen and (max-width:900px){
                    margin-left:0;
                }
            }

            &-content{
                max-width:360px;

                h1{
                    font-family:var(--secondary-font);
                }

                p{
                    font-size: 18px;
                    padding-top: 10px;
                }

                a{
                    border-bottom:1px solid #000;
                }

                span{
                    word-break: break-all;
                }
            }

            &-img{
                flex:1;
            }
            
        }
    }
}